name: build

on: push

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: Build
        run: |
          mkdir dist
          
          # linux
          GOOS=linux GOARCH=amd64 go build -o dist/masterstat
          zip --junk-paths masterstat-linux64-${{ github.ref_name }}.zip dist/masterstat
          
          # windows
          GOOS=windows GOARCH=amd64 go build -o dist/masterstat.exe
          zip --junk-paths masterstat-win64-${{ github.ref_name }}.zip dist/masterstat.exe
          
          ls dist

      - name: Test
        run: ./dist/masterstat-linux64-${{ github.ref_name }} --help

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: dist/*.zip
