name: build

on: push

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18.x

      - name: Build
        run: go build -o masterstat-ubuntu-${{ github.ref_name }}

      - name: Test
        run: ./masterstat-ubuntu-${{ github.ref_name }} --help

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            masterstat-ubuntu-${{ github.ref_name }}
